<div class="outerBox1">
    <div class="logo">
        <img src="../assets/yell.png" width="100" height="50" />
    </div>

    <hr style="border-top: 3px solid #fffb00fd;">

    <div style="text-align:center">
        <h4 class="heading">Welcome to Yell CRM! Let us help you to get on boarded</h4>
        <div id="smallfont">
            You are just 3 steps away from your first campaign
        </div>
        <div>
            <img src="../assets/navbar.png">
        </div>
    </div>
    <hr>
    <div class="mainOuterBox">
        <div class="outerBox">
            <div id="content">
                <br>
                <p id="details">Import Customer, Contacts and Lead Data</p>
                <div class="row">
                    <div class="col">
                        <div id="content1" class="row"></div>
                        <div id="content1" class="row">
                            <div id="details">
                                <img src="../assets/one.png">
                            </div>
                            <div class="col">
                                <p id="firstRowWithPadding">Download the CSV format to fill up your customer data</p>
                            </div>
                            <div>
                                <a href="../assets/SampleContacts.csv" download="SampleContacts.csv" title="Download CSV">
                                    <img alt="Download CSV" src="../assets/excel.png">
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="../assets/two.png">
                            </div>
                            <div class="col-sm-10">
                                <div class="divBorder">
                                    <div align="center" class="image-upload">
                                        <label for="file-input">
                                            <img src="../assets/excelupload.png" style="pointer-events: none" />
                                        </label>
                                        <input type="file" id="file-input" class="upload" (change)="convertFile($event)" accept="csv">
                                    </div>
                                    <div>
                                        <p id="smallFont">Drag and drop or click here to upload the filled-up file</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div style="padding-left: 35%">
                            <img src="../assets/or.png">
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p id="smallFont1">If Alan Tire Company has a Facebook, Instagram or a LinkedIn page, please select from the below
                                options and grant us access. We will automatically sync this data with your CRM.
                            </p>
                        </div>
                        <div class="row">
                            <img src="../assets/fb.png">
                        </div>
                        <div class="row">
                            <p id="smallFont1">If you want to import contacts from a specific email account, please select from the below options
                                to sync your contacts.
                            </p>
                        </div>
                        <div class="row">
                            <img src="../assets/gmail.png">
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3 text-center">
                    <button class="button1" >Go Back</button>
                </div>
                <div class="col-8 text-right">
                    <button class="button" >Proceed to Step 3 – Review and Confirm Data</button>
                </div>
            </div>
        </div>
        <br>
</div>