<div id="update-prodfile">
    <div class="sticky">
        <div class="logo">
            <img src="../assets/img/yell.png" />
        </div>
        <hr style="border-top: 3px solid #ffee03fd;">
        <h4 class="heading">Welcome to Yell CRM! Let us help you to get on boarded</h4>
        <div id="smallfont">
            You are just four steps away from your first campaign
        </div>
        <div style="align-content: center">
            <img src="assets/img/firstpage.PNG" />
        </div>
        <hr style="border-top: 1px solid #e4e4defd;">
    </div>
    <div style="overflow-y:scroll; height:350px">
        <div style="padding: 0% 15%">
            <div id="details">
                <div id="text1">
                    Enter Company Profile Information
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <table>
                            <div style="font-size: 17px;">
                                <tr>
                                    <td style="padding-right:40px;">Company Name</td>
                                    <td>
                                        <input type="text" name="companyname" style="border-style: groove; padding-left: 4px;" value="Alan Tire Company">
                                    </td>
                                </tr>
                                <br>
                                <tr>
                                    <td style="padding-right:40px;">ZIP Code</td>
                                    <td>
                                        <input type="text" name="zip" style="border-style: groove; padding-left: 4px;" value="OX5 1GB">
                                    </td>
                                </tr>
                                <br>
                                <tr>
                                    <td style="padding-right:40px;">Address</td>
                                    <td>
                                        <input type="text" name="address" style="border-style: groove; padding-left: 4px;" value="281, Oxford Road">
                                    </td>
                                </tr>
                                <br>
                                <tr>
                                    <td style="padding-right:40px;">Phone Number</td>
                                    <td>
                                        <input type="text" name="mobile" style="border-style: groove; padding-left: 4px;">
                                    </td>
                                </tr>
                            </div>
                        </table>
                    </div>
                    <div class="col-logo">
                        <table>
                            <tr>
                                <td>
                                    <img src="../assets/text.png" />
                                </td>
                                <td>
                                    <img src="assets/img/UploadLogo.PNG" style="padding-left:6px;" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="padding-left:115px; color: grey">or</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="padding-left:30px;">
                                    <input class="btn btn-light" type="button" value="Choose File" style="padding-left:50px;padding-right:50px; color: grey;">
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div style="padding:0% 15%">
            <div id="details">
                <div id="text1">
                    Add the users you want to access your CRM
                </div>
                (Once we complete the four steps, we will send your users an email with instructions to set up their account)
                <br>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <table>
                                <div style="font-size: 17px; padding: 20px;">
                                    <tr>
                                        <td style="padding-right:48px;">First Name</td>
                                        <td>
                                            <input type="text" name="firstname" style="border-style: groove;padding-left: 4px;">
                                        </td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td style="padding-right:48px;">Last Name</td>
                                        <td>
                                            <input type="text" name="lastname" style="border-style: groove;padding-left: 4px;">
                                        </td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td style="padding-right:48px;"> Email Address</td>
                                        <td>
                                            <input type="text" name="email" style="border-style: groove;padding-left: 4px;">
                                        </td>
                                    </tr>

                                </div>
                            </table>
                        </div>
                        <div class="row">
                            <div style="padding:20px;">
                                <input class="regular-checkbox" type="checkbox" name="admin" value="admin">
                                <output style="padding-left:10px;">Make an Administrator</output>
                                <img src="assets/img/tooltip.PNG" style="padding-right:25px;" />
                                <input type="button" value="Add User" class="btn btn-light" style="padding-left: 40px; padding-right: 40px; color: grey">
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <br> Users Added
                        <div id="card2">
                            <div>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="assets/img/user.PNG" />
                                    </div>
                                    <div class="col-6">
                                        <output>Alan Walker(admin)</output>
                                    </div>
                                    <div class="col-2">
                                        <a href="">
                                            <u style="color: rgb(235, 235, 72);padding-left: 40px;">Edit</u>
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a href="">
                                            <u style="color: rgb(235, 223, 72);padding-left: 20px;">Delete</u>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div style="padding:0% 15%">
            <div id="details">
                <div id="text1">
                    Please provide us the business email account to be used for sending emails and running campaigns.
                </div>
                (Manage your customer interactions directly from the CRM)
                <br>
                <br>
                <div style="color: black;">
                    Please choose one Email Service Provider and we will fill the server details for you.
                </div>
                <br>
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <table>
                                <div style="padding-left: 12px;">
                                    <tr>
                                        <td>

                                            <input type="image" id="gmail-button-before-select" onclick="setGmailDetails()" src="assets/img/gmail.PNG" alt="Submit" width="75px"
                                                height="75px">

                                        </td>
                                        <td>
                                            <img src="assets/img/yahoo.PNG" height="75px" width="75px" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="assets/img/outlook.PNG" height="75px" width="75px" />
                                        </td>
                                        <td>
                                            <img src="assets/img/othermail.PNG" height="75px" width="75px" />
                                        </td>
                                    </tr>
                                </div>
                            </table>
                        </div>
                    </div>

                    <div class="col-5">
                        <div style="padding-left:25px;">
                            <p class="p1">Mail Server</p>
                            <img class="p2" src="assets/img/tooltip.PNG" style="padding-right: 10px;" />
                            <input type="text" id="gmail-server" name="mailserver" style="border-style: groove;background: rgb(241, 241, 241);color: #85857cfd;padding-left: 4px;"
                                value="">
                            <br>
                            <br>
                            <p class="p1">Port</p>
                            <img class="p2" src="assets/img/tooltip.PNG" style="padding-right: 62px;" />
                            <input type="text" id="gmail-port" name="port" style="border-style: groove;background: rgb(241, 241, 241);color: #85857cfd;padding-left: 4px;"
                                value="">
                            <br>
                            <br>
                            <p class="p1">SSL or TLS</p>
                            <img class="p2" src="assets/img/tooltip.PNG" style="padding-right: 8px;" />
                            <select style="padding-right: 145px; height: 30px; color: #85857cfd;background: rgb(241, 241, 241);padding-left: 4px;">
                                <option style="border-style: groove;" value="SSL">SSL</option>
                                <option style="border-style: groove;" value="TLS">TLS</option>
                            </select>
                            <br>
                        </div>
                    </div>
                    <div class="col-5">
                        <table>
                            <div style="font-size: 17px;">
                                <tr>
                                    <td>
                                        <p class="p1">"From" Name</p>
                                        <img calss="p2" src="assets/img/tooltip.PNG" style="padding-right: 2px;" />
                                    </td>
                                    <td>
                                        <input type="text" name="fromname" style="border-style: groove;" value="Alan Tire Company">
                                    </td>
                                </tr>
                                <br>
                                <tr>
                                    <td>
                                        <p class="p1">"From" Email</p>
                                        <img class="p2" src="assets/img/tooltip.PNG" />
                                    </td>
                                    <td>
                                        <input type="text" name="fromemail" style="border-style: groove;" value="alantire@gmail.com">
                                    </td>
                                </tr>
                                <br>
                                <tr>
                                    <td>
                                        <p class="p1">Password</p>
                                        <img class="p2" src="assets/img/tooltip.PNG" />
                                    </td>
                                    <td>
                                        <input type="password" name="password" style="border-style: groove;">
                                    </td>
                                </tr>
                                <br>
                            </div>
                        </table>
                        <input type="button" value="Integrate Email Account and Test Email" class="btn btn-light" style="padding-left: 24px; padding-right: 24px; color: #85857cfd;">
                        <img src="assets/img/tooltip.PNG" />
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="text-align: right;padding-right: 200px;">
            <input type="button" value="Proceed to Step 2 - Import Data" class="btn btn-warning" style="padding-left: 25px; padding-right: 25px;"
                (click)="enableUploadUsers()">
        </div>
        <br>
    </div>
</div>

<div id="upload-users" style="overflow-y:scroll; height:620px;">
    <div id="First" class="outerBox1">
        <div class="logo">
            <img src="../assets/img/yell.png" />
        </div>

        <hr style="border-top: 3px solid #fffb00fd;">

        <div style="text-align:center">
            <h4 class="heading">Welcome to Yell CRM! Let us help you to get on boarded</h4>
            <div id="smallfont">
                You are just 3 steps away from your first campaign
            </div>
            <div>
                <img src="../assets/navbar.png">
            </div>
        </div>
        <hr>
        <div class="mainOuterBox">
            <div class="outerBox">
                <div id="content">
                    <br>
                    <div id="text1">
                        Import Customer, Contacts and Lead Data
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div id="content1" class="row"></div>
                            <div id="content1" class="row">
                                <div id="details1">
                                    <img src="../assets/one.png">
                                </div>
                                <div class="col">
                                    <p id="firstRowWithPadding" style="font-size: 17px;">Download the CSV format to fill up your customer data</p>
                                </div>
                                <div>
                                    <a href="../assets/Sample CSV - Yell CRM.csv" download="SampleContacts.csv" title="Download CSV">
                                        <img alt="Download CSV" src="../assets/excel.png">
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="../assets/two.png" />
                                </div>
                                <div class="col-sm-10">
                                    <div id="excel-div" class="divBorder">
                                        <div align="center" class="image-upload">
                                            <label for="file-input">
                                                <img src="../assets/excelupload.png" style="pointer-events: none" />
                                            </label>
                                            <input type="file" id="file-input" class="upload" (change)="convertFile($event)" accept="csv">
                                        </div>
                                        <div>
                                            <p id="smallFont" style="font-size: 17px; text-align: center;">Drag and drop or click here to upload the filled-up file</p>
                                        </div>
                                    </div>
                                    <div id="success-excel-div">
                                        <div class="row">
                                            <div style="flex: 0 0 25%; max-width: 19%;">
                                                <img src="../assets/img/success.png"/>
                                            </div>
                                            <div class="col" style="background-color: rgb(207, 243, 223); padding-left: 29px; padding-right: 20px; padding-bottom: 5px;">
                                                <div class="row">
                                                    Upload Successful.
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <p class="p1">File Uploaded:&nbsp;</p>
                                                    <p class="p2" style="font-size: 12px; color: blue"><u>SampleContacts.CSV</u></p>
                                                </div>
                                                <div class="row">
                                                    <button class="btn btn-light">Remove and Upload Again</button>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div id="upload-success-panel" hidden>
                                <input type="text" id="upload-success-text" value="Upload success !!!" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div style="padding-left: 35%;">
                                <img src="../assets/or.png" height="250px">
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <p id="smallFont1">If Alan Tire Company has a Facebook, Instagram or a LinkedIn page, please select from the
                                    below options and grant us access. We will automatically sync this data with your CRM.
                                </p>
                            </div>
                            <div class="row">
                                <img src="../assets/fb.png">
                            </div>
                            <div class="row">
                                <p id="smallFont1">If you want to import contacts from a specific email account, please select from the below
                                    options to sync your contacts.
                                </p>
                            </div>
                            <div class="row">
                                <img src="../assets/gmail.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3 text-center">
                    <button class="btn btn-light" (click)="enableUploadProfile()">&#x227A; Go Back</button>
                </div>
                <div class="col-8 text-right">
                    <button id = "proceed1" class="btn btn-warning" (click)="myFirst()" disabled>Proceed to Step 3 – Review and Confirm Data</button>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div id="Second" class="outerBox1">
        <div class="logo">
            <img src="../assets/img/yell.png" />
        </div>

        <hr style="border-top: 3px solid #fffb00fd;">

        <div style="text-align:center">
            <h4 class="heading">Welcome to Yell CRM! Let us help you to get on boarded</h4>
            <div id="smallfont">
                You are just 3 steps away from your first campaign
            </div>
            <div>
                <img src="../assets/navbar1.png">
            </div>
        </div>
        <hr>
        <div class="mainOuterBox">
            <div class="tabs">
                <button class="btn btn-light-yellow" [class.btn-tab]="tabClicked == null || tabClicked === 'Customer'" (click)="tabClicked = 'Customer'">Customer</button>
                <button class="btn btn-light-yellow" [class.btn-tab]="tabClicked === 'Contacts'" (click)="tabClicked = 'Contacts'">Contacts</button>
                <button class="btn btn-light-yellow" [class.btn-tab]="tabClicked === 'LeadData'" (click)="tabClicked = 'LeadData'">Lead Data</button>
            </div>
            <div class="outerBox">
                <div id="content">
                    <div [hidden]="!(tabClicked === 'Customer')">
                        <br>
                        <p class="p1" id="p11">4 Customers imported.</p>
                        <p class="p2">&nbsp;Please review and confirm your Customers</p>
                        <br>
                        <table class="table-tabs" border="1" style="width: 100%">
                            <tr>
                                <th class="table-tabs table-head">Customer Name</th>
                                <th class="table-tabs table-head">Customer Address</th>
                                <th class="table-tabs table-head">Customer Pin Code</th>
                                <th class="table-tabs table-head">Customer Telephone</th>
                                <th class="table-tabs table-head">Customer Email Address</th>
                            </tr>
                            <tbody *ngFor="let d of contactList">
                            <tr *ngIf="d.customerEmailAddress != null">
                                <td class="table-tabs">{{ d.customerName }}</td>
                                <td class="table-tabs">{{ d.customerAddress }}</td>
                                <td class="table-tabs">{{ d.customerPinCode }}</td>
                                <td class="table-tabs">{{ d.customerTelephone }}</td>
                                <td class="table-tabs">{{ d.customerEmailAddress }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div [hidden]="!(tabClicked === 'Contacts')">
                        <br>
                        <p class="p1" id="p11">10 Contacts imported.</p>
                        <p class="p2">&nbsp;Please review and confirm your Contacts</p>
                        <br>
                        <table class="table-tabs" border="1" style="width: 100%">
                            <tr>
                                <th class="table-tabs table-head">First Name</th>
                                <th class="table-tabs table-head">Last Name</th>
                                <th class="table-tabs table-head">Email Address</th>
                                <th class="table-tabs table-head">Phone Number</th>
                                <th class="table-tabs table-head">Car Size</th>
                                <th class="table-tabs table-head">Car Year</th>
                                <th class="table-tabs table-head">Car Make</th>
                                <th class="table-tabs table-head">Car Model</th>
                            </tr>
                            <tbody *ngFor="let d of contactList">
                            <tr *ngIf="d.emailAddress != null">
                                <td class="table-tabs">{{ d.firstName }}</td>
                                <td class="table-tabs">{{ d.lastName }}</td>
                                <td class="table-tabs">{{ d.emailAddress }}</td>
                                <td class="table-tabs">{{ d.phoneNumber }}</td>
                                <td class="table-tabs">{{ d.customField1 }}</td>
                                <td class="table-tabs">{{ d.customField2 }}</td>
                                <td class="table-tabs">{{ d.customField3 }}</td>
                                <td class="table-tabs">{{ d.customField4 }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div [hidden]="!(tabClicked === 'LeadData')">
                        <p class="p1" id="p11">0 Leads imported.</p>
                        <br>
                        <!-- <table class="table-tabs" border="1" style="width: 100%">
                            <tr>
                                <th class="table-tabs table-head">Account Name</th>
                                <th class="table-tabs table-head">First Name</th>
                                <th class="table-tabs table-head">Last Name</th>
                                <th class="table-tabs table-head">Email Address</th>
                                <th class="table-tabs table-head">Telephone</th>
                                <th class="table-tabs table-head">Age</th>
                                <th class="table-tabs table-head">Gender</th>
                                <th class="table-tabs table-head">Role</th>
                            </tr>
                        </table> -->
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3 text-center">
                    <button class="btn btn-light" (click)="mySecond()">&#x227A; Go Back</button>
                </div>
                <div class="col-8 text-right">
                    <button class="btn btn-warning">Proceed to Step 3 – Review and Confirm Data</button>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>